$primarycolor: #D75555;
$secondary: #F66C96;
$blue: #4EA8D9;

body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
  display: block;
  position: relative;
  font-family: Quicksand;
  // background-color: mediumpurple;
  color: black;

  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  span {
    font-weight: 600;
    color: $secondary;
  }
}

body.one {
  .containlogo {
    position: relative;
    top: 22%;
  }

  section.logo {
    width: 13em;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-size: 1.4em;
    }
  }

  .button {
    margin: auto;
    text-align: center;

    .login {
      border-radius: 2em;
      width: 10em;
      height: 3em;
      transition: 400ms ease;

      &:hover {
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 0.5em 0 -0.3em rgba(0, 0, 0, 0.23);
        color: black;
      }
    }

    .registreren {
      border-radius: 2em;
      padding: 0.4em;
      margin: 1em;
      background: #c7c2e0;
      width: 7em;
      color: white;
      padding: 1em;
      border: solid 0.1em rgb(224, 224, 224);
      transition: ease 400ms;

      &:hover {
        background: #876FEE;
        color: white;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 0.5em 0 -0.3em rgba(0, 0, 0, 0.23);
      }

      a {
        color: white;
        width: 2em;
      }
    }
  }

  section.regis {
    margin: 0 auto;
    text-align: center;
    width: 20em;

    article {
      margin: 2em;
    }
  }

  .tryme {
    line-height: 4em;
    width: 11em;
    height: 4em;
    background: $secondary;
    border-radius: 20em;
    text-align: center;
    margin: auto auto 2em;
    transition: ease 200ms;

    a {
      color: white;
      font-size: 1.5em;
      font-weight: bold;

      &::after {
        content: url("../assets/logo/heart.svg");
        height: 0.5em;
        width: 0.5em;
        display: inline-block;
        position: relative;
        top: 0.3em;
      }
    }

    &:hover {
      background-color: $primarycolor;
      cursor: pointer;
      box-shadow: 0 0.5em 0 -0.3em rgba(0, 0, 0, 0.23);
    }
  }
}

.login,
body.regis {
  width: 25em;

  .reg,
  p {
    margin-bottom: 1em;
    text-align: center;
  }

  form {
    padding-bottom: 2em;
    margin: auto auto 4em;

    fieldset {
      border: solid white 0.12em;

      label {
        width: 100%;
        display: block;
        margin: 0.5em;
      }

      input {
        padding: 0.5em;
        width: 90%;
      }
    }
  }

  .meldaan {
    width: 8em;
    padding: 0.5em;
    border-radius: 5em;
    margin: 0.3em;
    position: relative;
    display: block;
    font-size: 1.2em;
    background: #D75555;
    color: white;
    font-weight: 200;
    font-family: Quicksand;
    transition: ease 200ms;
    margin-top: 1em;
    text-align: center;
    float: right;

    &::after {
      content: " >";
      font-size: 1em;
    }

    &:hover {
      cursor: pointer;
      background: green;
      box-shadow: 0 0.5em 0 -0.3em rgba(0, 0, 0, 0.23);
    }

    &:hover::after {
      color: $secondary;
    }
  }

  .file {
    display: block;
  }
}

body.swipe {
  h1 {
    text-align: center;
  }

  .contain {
    width: 25em;
    height: 30em;
    // background-color: green;
    display: block;
    margin: 0 auto;
  }

  .picture {
    object-fit: scale-down;
    justify-content: center;
    display: block;
    margin: auto;
    height: 25em;
    background-color: white;
    width: 20em;
    transform: translateY(2em);
    z-index: -1;
    border-radius: 2em;
    border: solid mediumpurple 0.2em;

    img {
      max-height: 90%;
      max-width: 90%;
      margin-top: 4em;
    }
  }

  .containyesno {
    top: 7em;
    position: relative;
    display: block;
    margin: 0 auto;
    right: 0.5em;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .redo {
    width: 2em;
    height: 3em;
    margin: 2em;
    border-radius: 10em;
    float: left;
    position: relative;
    transform: translateX(6em) translateY(-5em);
  }

  .no {
    width: 4em;
    height: 4em;
    border-radius: 10em;
    float: left;
    position: relative;
    transform: translateX(6em) translateY(-4em);
  }

  .yes {
    height: 4em;
    border-radius: 30em;
    transform: translateX(6em) translateY(-4em);
  }
}

body.chatpage {
  div.cont_yesno {
    margin-top: -3em;
    margin-bottom: 5em;
  }

  section.accept {
    height: 4.2em;
    background: #F66C96;
    border-radius: 20em 0 0 20em;
    padding-left: 5em;
    margin: auto auto 2em;
    transition: ease 200ms;
    display: block;
    position: relative;
    float: right;

    img {
      margin: 1em 0 0 1em;
    }

    &:hover {
      background-color: $primarycolor;
      cursor: pointer;
      box-shadow: 0 0.5em 0 -0.3em rgba(0, 0, 0, 0.23);
      padding-left: 6;
    }
  }

  section.decline {
    border-radius: 0 20em 20em 0;
    height: 4.2em;
    background: #4EA8D9;
    padding-left: 5em;
    margin: auto auto 2em;
    transition: ease 200ms;
    display: block;
    position: relative;
    float: left;

    img {
      width: 2em;
      margin: 1em;
      float: right;
    }

    &:hover {
      background-color: $primarycolor;
      padding-left: 6em;
      cursor: pointer;
      box-shadow: 0 0.5em 0 -0.3em rgba(0, 0, 0, 0.23);
    }
  }

  section.profile {
    width: 100%;
    height: 50%;
    display: block;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  section.info {
    display: block;
    text-align: left;
    position: relative;
    padding: 0.4em;
  }

  div.addmeme {
    margin-left: 2em;
    max-width: 100%;
    margin-bottom: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    color: white;

    .sendmeme {
      width: 10em;
      height: 10em;
      border-radius: 2em;
      background: #ededed;
      margin: 0.3em;
      padding: 0.08em;
      object-fit: contain;

      img {
        width: 100%;
        height: 100%;
        border-radius: 2em;
      }
    }
  }
}
////////////////////////////////////////
// Nav bar /////////////////////////////
////////////////////////////////////////

nav {
  margin: 0 auto;
  display: block;
  position: fixed;
  height: 4em;
  bottom: 0;
  left: 0;
  background: #e4e4e4;
  width: 100%;
  z-index: 1;

  ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  li {
    list-style-type: none;
    width: 2em;

    &:hover {
      cursor: pointer;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

body.list {
  section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 7em;

    h1 {
      width: 100%;
      display: block;
    }

    .category {
      object-fit: cover;
      width: 45%;
      height: 50%;
      top: -4em;
      border-radius: 0.3em;
      margin: 0.2em;

      img {
        object-fit: cover;
        width: 96%;
        height: 50%;
        top: -4em;
        border-radius: 0.3em;
      }

      h2 {
        overflow-wrap: break-word;
        text-align: center;
        color: #5f5f5f;
        word-wrap: break-word;
        background: #9b9b9b36;
        border-radius: 0.2em;
        padding: 0.3em;
      }
    }
  }
}

body.feed {
  color: white;
  text-align: center;
  padding: 0.1em;

  h1 {
    color: $primarycolor;
    margin-left: 0.3em;
    font-size: 1em;
  }

  a.genrelink {
    background: $primarycolor;
    border-radius: 1em;
    padding: 0.5em;
    color: white;
    transition: 200ms ease;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0.5em 0 -0.3em rgba(0, 0, 0, 0.23);
    }
  }

  div.containfeed {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
  }

  .avatar {
    img {
      height: 8em;
      width: 8em;
      object-fit: cover;
      border-radius: 1em 1em 0 0;
    }
  }

  section {
    width: 8em;
    transition: 200ms ease;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    background-color: white;

    &:hover {
      cursor: pointer;
      box-shadow: 2px 4px 0 2px rgba(201,201,201,1);
    }
  }

  h2 {
    font-size: 0.8em;
    font-weight: 100;
    flex: 100%;
    color: white;
    display: inline-block;
    position: relative;
    top: -1em;
    padding: 0.5em;
    background: $blue;
    width: 9em;
    border-radius: 0 0 0.5em 0.5em;
  }
}

body.chatmatch {
  width: 100%;

  section.match {
    background: $primarycolor;
    color: white;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 1em;
    height: 12em;

    div.prof_match {
      float: left;
      margin: 1em;

      img {
        width: 7em;
        height: 7em;
        border-radius: 100%;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  section.chat_list {
    width: 100%;
    padding: 1em;

    h2 {
      display: block;
      width: 100%;
      font-size: 1em;
      font-weight: 200;
    }

    .prof_chat {
      display: block;
      float: left;
    }

    .cont_chatprof {
      width: 100%;
      float: left;
    }

    img {
      width: 5em;
      height: 5em;
      border-radius: 100%;
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }

    div.chat {
      background: lightblue;
      height: 4em;
      width: 13em;
      border-radius: 10em;
      transform: translateX(6em);
      text-align: left;

      h4.name {
        font-size: 0.8em;
        position: absolute;
        transform: translateX(2em) translateY(-.8em);
      }

      p.chat_text {
        font-size: 0.7em;
        transform: translateX(2em) translateY(1.5em);
        width: 17em;
        float: left;
        position: absolute;
      }
    }
  }
}

body.user {
  width: 100%;
  padding: 1em;

  div.user-prof {
    text-align: center;

    img {
      width: 10em;
      height: 10em;
      border-radius: 100%;
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .cont-meme {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8em;

    div.addmeme {
      .sendmeme {
        width: 8em;
        height: 8em;
        border-radius: 2em;
        background: #ededed;
        margin: 0.3em;
        padding: 0.08em;
        object-fit: contain;

        img {
          width: 100%;
          height: 100%;
          border-radius: 2em;
        }
      }
    }
  }
}
// --------- Mediaqueries ------------//
@media only screen and (min-width: 48.0625em) and (max-width:100em) {
  body {
    width: 50em;
  }

  nav {
    display: none;
  }
}