<!DOCTYPE html>
<html lang="en">


<% include ../partials/head %>
  <title>social</title>

<body class="chatpage">
  <% include ../partials/navbar %>

  <section class="profile">
    <% if (data.file) {%>
    <img src="/upload/<%= data.file%>" alt="profiel">
    <%}%>
  </section>
  
  <div class="cont_yesno">
    <a href="./chatmatch.html">
      <section class="accept">
        <img src="../assets/logo/heart.svg" alt="">
      </section>
    </a>
    <a href="/feed">
    <section class="decline">
      <img src="../assets/logo/dislike.svg" alt="">
    </section>
  </a>
  </div>


  <section class="info">
    <h2>
      <%= data.name %>
    </h2>
    <article>
      Soms verlies ik de tijd wanneer ik aan het scrollen ben door 9gag of twitter. Maar dat is niet erg, want ik lach veel!
    </article>

    <article class="extrainfo">
      <h3>I enjoy</h3>
      <ul>
        <li> Obscure/absurd</li>
        <li> Sarcastic</li>
        <li> Dark</li>
      </ul>
    </article>
  </section>
  <div class="addmeme">
    <div class="sendmeme">
      <img src="../assets/img/memes/1.jpg" alt="">
    </div>
  </div>
  <div class="addmeme">
    <div class="sendmeme">
      <img src="../assets/img/categorie/sarcastic.jpg" alt="">
    </div>
  </div>
</body>

</html>